{% extends "base/base.html" %}
{% block extrastatic %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/jquery-ui/jquery-ui.min.css' %}">
{% endblock %}
{% block pageheader %}
Tratamiento
{% endblock %} 
{% block subpageheader %}
{% if request.get_full_path == "/tratamiento/nuevo" %}
Crear
{% else %}
Editar
{% endif %}
{% endblock %}
 {% block breadcrumbs %}
     <div class="col-sm-5 text-right hidden-xs" xmlns="http://www.w3.org/1999/html">
                                <ol class="breadcrumb push-10-t">

                                    <li><a class="link-effect" href="{% url 'administrador:inicio' %}">Inicio</a></li>
                                    <li><a class="link-effect" href="{% url 'tratamiento:listar' %}">Tratamientos</a></li>
                                    <li><a class="link-effect" href="">
                                       {% if request.get_full_path == "/tratamiento/nuevo" %}
                                       Crear
                                       {% else %}
                                       Editar
                                       {% endif %}
                                    </a></li>

                                </ol>
                            </div>
{% endblock breadcrumbs %}
{% block content %}
    <!--Modal Error-->
        <div style="display: none; margin-top: 220px;" class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <div class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Error</h3>
                        </div>
                        <div class="block-content">
                            EL registro de paciente no existe.
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'paciente:listar' %}" class="btn btn-sm btn-info" type="button">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Fin Modal Error-->
<div class="content">
    <form id="form_tratamiento" class="js-validation-material form-horizontal push-10-t" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block block-rounded">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">Tratamiento</h3>
                    </div>
                    <div class="block-content">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <div class="col-sm-10 col-sm-offset-1">
                                             <div class="form-material form-material-primary">
                                                 {{ form.nombre }}
                                                 <label for="{{ form.nombre.name }}">{{ form.nombre.label }}</label>
                                             </div>
                                             {% for error in form.nombre.errors %}
                                                 <div class="help-block text-right animated fadeInDown" id="val-nombre-error">{{error}}</div>
                                             {% endfor %}
                                         </div>
                                       </div>
                                  </div>
                            </div>
                             <div class="row">
                                 <div class="col-md-12">
                                     <div class="form-group">
                                         <div class="col-sm-10 col-sm-offset-1">
                                             <div class="form-material form-material-primary">
                                                 {{ form.descripcion }}
                                                 <label for="{{ form.descripcion.name }}">{{ form.descripcion.label }}</label>
                                             </div>
                                             {% for error in form.descripcion.errors %}
                                                 <div class="help-block text-right animated fadeInDown" id="val-descripcion-error">{{error}}</div>
                                             {% endfor %}
                                         </div>
                                     </div>
                                 </div>
                             </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="form-material form-material-primary">
                                                 {{ form.precio }}
                                                 <label for="{{ form.precio.name }}">{{ form.precio.label }}</label>
                                             </div>
                                            {% for error in form.precio.errors %}
                                                 <div class="help-block text-right animated fadeInDown" id="val-descripcion-error">{{error}}</div>
                                             {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                     <div class="col-sm-6 col-sm-offset-3">
                                         <input type="submit" value="Guardar" class="btn btn-primary guardar">
                                         <a href="{% url 'tratamiento:listar' %}" class="btn btn-danger" >Cancelar</a>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/csfr.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    <script src="{% static 'assets/js/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-validation/messages_es.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script>
    $(document).on('ready',function(){
        "use strict";

    });

    </script>



{% endblock %}