{% extends "base/base.html" %}
{% block extrastatic %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.css' %}">

{% endblock %}
{% block pageheader %}
    Citas
{% endblock %}
{% block subpageheader %}
    Listar
{% endblock %}
{% block breadcrumbs %}
                            <div class="col-sm-5 text-right hidden-xs">
                                <ol class="breadcrumb push-10-t">
                                    <li><a class="link-effect" href="{% url 'administrador:inicio' %}">Inicio</a></li>
                                    <li><a class="link-effect" href="">Citas</a></li>

                                </ol>
                            </div>
{% endblock breadcrumbs %}
{% block content %}
    <!--Modal Eliminar-->
        <div style="display: none; margin-top: 220px;" class="modal fade" id="modal_eliminar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <div class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Eliminar Cita</h3>
                        </div>
                        <div class="block-content">
                            <span id="modal_mensaje_name"></span><span id="modal_name"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="modal_idTratamiento" name="paciente_id">
                            <button class="btn btn-sm btn-danger eliminar" type="button">Eliminar</button>
                            <button id="modal_boton" class="btn btn-sm btn-primary" type="button" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Fin Modal Eliminar-->
                        <div class="block-content">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="{% url 'cita:crear' %}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Registrar Cita</a>
                                </div>
                            </div>
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-full" id="tabla_citas">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Paciente</th>
                                        <th>Estado de la cita</th>
                                        <th >Detalle</th>
                                        <th id="tabla_acciones" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cita in object_list %}
                                <tr>
                                    <td>{{ cita.id }}</td>
                                    <td>{{ cita.fecha}} </td>
                                    <td>{{ cita.hora }}</td>
                                    <td>{{ cita.paciente.nombre }} {{ cita.paciente.apellido_paterno }} {{ cita.paciente.apellido_materno }}</td>
                                    <td>
                                        {% if cita.estado == 'Agendada' %}
                                        <span class="label label-success">{{ cita.estado }}</span>
                                        {% elif cita.estado == 'Reagendada' %}
                                        <span class="label label-primary">{{ cita.estado }}</span>
                                        {% elif cita.estado == 'Cancelada' %}
                                        <span class="label label-danger">{{ cita.estado }}</span>
                                        {% endif %}
                                    </td>
                                    <td style="width: 35%;">{{ cita.descripcion}} </td>
                                    <td class="text-center">
                                        <a class="btn btn-primary" href="{% url 'cita:editar' cita.id %}" data-toggle="tooltip" title="Editar Cita"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger" href="{% url 'cita:eliminar' cita.id %}" data-toggle="tooltip" title="Eliminar Cita"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    <!--END Page Content -->
{% endblock %}
{% block extrajs %}
    {% load staticfiles %}
    <script src="{% static 'assets/js/csfr.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script>
     $(document).on('ready',function(){
        "use strict";

    });

    </script>

{% endblock %}